.Login{
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.login_container{
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    height: 300px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7) ;
}
.login_container > img{
    position: relative;
    top: -70px;
    object-fit: contain;
    height: 280px;
    margin-bottom: 40px;
}
.login_text{
    position: relative;
    top: -180px;
}
.login_text > button{
    position: relative;
    top: -30px;
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: rgb(20, 129, 224) !important;
    color: white;
}